* {
    margin: 0%;
    padding: 0%;
    text-transform: capitalize;
}

body {
    width: 100%;
    height: auto;
}

header {
    background-color: aqua;
    padding: 23px;
    font-size: 23px;
    text-align: center;
}

img {
    margin-top: 24px;
    margin-bottom: 33px;
    margin-left: 123px;
    border: 3px solid black;
    width: 183px;
    height: 183px;
}

.solid {
    border: 13px solid blue;
}
.dashed{
    border: 13px dashed magenta;
}
 .dotted{
     border: 13px dotted pink;
 }
 .groove{
     border: 13px groove brown;
 }
 .double{
     border: 13px double burlywood;
 }
 .outset{
     border: 13px outset red;
 }
 .ridge{
     border: 13px  ridge green;
     margin-left: 470px;
 }

.container3 {
    border-top: 3px solid magenta;
    border-bottom: 3px solid red;
    border-left: 3px solid green;
    border-right: 3px solid yellow;
    margin: 23px 23px;
}

.container3,
h3 {
    background-color: rgb(191, 202, 38);
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
}

.container3,
p {
    background-color: antiquewhite;
    text-align: center;
    padding: 13px;
}

footer {
    background-color: black;
    padding: 23px;
    text-align: center;
}

a,
.one {
    float: left;
    font-size: 20px;
    text-decoration: none;

}

a,
.two {
    float: none;
    font-size: 20px;
    text-decoration: none;
}

a,
.three {
    float: right;
    font-size: 20px;
    text-decoration: none;
}